{
  "BASE_URL": "https://checkout.commercelayer.dev",
  "API_BASE_URL": "https://acme.commercelayer.dev",
  "API_CLIENT_ID": "xxxxxxxxxx",
  "API_CLIENT_SECRET": "xxxxxxxxxx",
  "SKU_CODE": "xxxxxxxxxx",
  "EU_MARKET_ID": "xxxxxxxxxx",
  "EU_STOCK_ITEM_ID": "xxxxxxxxxx",
  "US_STOCK_ITEM_ID": "xxxxxxxxxx",
  "EU_PRICE_ID": "xxxxxxxxxx",
  "COUPON_CODE": "xxxxxxxxxx"
}
