.icon-order-success {
  width: 154px;
  height: 154px;
  animation: scale 0.3s ease-in-out 0.9s both;
}

.icon-order-success .circle {
  stroke-dasharray: 480px, 480px;
  stroke-dashoffset: 960px;
}

.icon-order-success .colored_circle {
  stroke-dasharray: 480px, 480px;
  stroke-dashoffset: 960px;
}

.icon-order-success .checkmark {
  stroke-dasharray: 100px, 100px;
  stroke-dashoffset: 200px;
}

.icon-order-success polyline {
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

.icon-order-success circle {
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

.icon-order-success circle.colored_circle {
  animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }

  100% {
    stroke-dashoffset: 960px;
  }
}

@keyframes colored-circle {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
